<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ultibits.wol</string>
	<key>connections</key>
	<dict>
		<key>0E4474C5-C9D3-4770-B3FC-F60C3D04CF48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E8D75D4-B21E-4D44-963C-06ADBA6CB5A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DAAF50C-1B6D-410E-9B66-22F58BBFF740</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9839A187-8DBE-4D0D-A62E-E106CC36AFA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9839A187-8DBE-4D0D-A62E-E106CC36AFA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E4474C5-C9D3-4770-B3FC-F60C3D04CF48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Geoff Rainville</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wake on Lan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>wol</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 filter_list.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Wake this machine</string>
				<key>title</key>
				<string>(servername) xx:xx:xx:xx:xx:xx</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8DAAF50C-1B6D-410E-9B66-22F58BBFF740</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import os
from wakeonlan.wakeonlan import send_magic_packet

q = os.getenv("macaddr")

send_magic_packet(q)

print(q)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E4474C5-C9D3-4770-B3FC-F60C3D04CF48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 save_server.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/opt/homebrew/python3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9839A187-8DBE-4D0D-A62E-E106CC36AFA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Waking machine at {query}</string>
				<key>title</key>
				<string>WOL Packet Sent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E8D75D4-B21E-4D44-963C-06ADBA6CB5A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E4474C5-C9D3-4770-B3FC-F60C3D04CF48</key>
		<dict>
			<key>note</key>
			<string>Send Magic Packet</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>8DAAF50C-1B6D-410E-9B66-22F58BBFF740</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>9839A187-8DBE-4D0D-A62E-E106CC36AFA0</key>
		<dict>
			<key>note</key>
			<string>Save Data</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>9E8D75D4-B21E-4D44-963C-06ADBA6CB5A7</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>ultibits.com</string>
</dict>
</plist>
